
/*
 Handy colors:
 #006d4c - brand color
 #0064dc - aint bad
*/

.edit_outline {
    border: 2px #0064dc dashed;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.editable_label { 
    font-size: 90%;
    color: #fff;
    background-color: #0064dc;
    padding-left: 0.5em;
    margin-top: 1em;
    margin-right: 75em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.fullwidth { width: 100%; min-height: 8em; }

.highlight {
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.highlight-danger {
    border-right-width: 1px;
    border-right-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;

    border-color: #da4f49;
    outline: 0;
    outline: thin dotted 9;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #da4f49;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #da4f49;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #da4f49;
}


.navbar .nav > li > a.save-ready    { color: #468847; }
.navbar .nav > li > a.save-disabled { color: #b94a48; }


.table_edit_ctrls .column_list {
    display: inline-block;
    margin-bottom: 5px;
}

.table_edit_ctrls .listsep {
    margin-left: 2em;
    margin-right: 2em;
}