
/*
 Handy colors:
 #006d4c - brand color
 #0064dc - aint bad
*/

.edit_outline {
    border: 2px #0064dc dashed;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.editable_label { 
    font-size: 90%;
    color: #fff;
    background-color: #0064dc;
    padding-left: 0.5em;
    margin-top: 1em;
    margin-right: 75em;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}


.fullwidth { width: 100%; min-height: 8em; }


#data_table thead th.editmode {}
#data_table .column_actions { display: none; }
#data_table .editmode .column_actions { display: block; }

.navbar .nav > li > a.save-ready    { color: #468847; }
.navbar .nav > li > a.save-disabled { color: #b94a48; }