/* ========== Basic structure styles ========== */

body {}

#top {}
#top a.brand { color: #006D4C; }

#middle {
    padding-top: 1em;
    padding-bottom: 2em;
}

#footer {
    border-top: thin #006d4c solid;
    padding-top: 0.5em;
}
#footer p { color: #00a876; }
#footer a { text-decoration: underline; color: #207e62; }





/* ========== Boostrap fixes ========== */

/*
  fix for bootstrap bug: dropdowns inside collapses get cut off
  may be fixed in v3.0
  see https://github.com/twitter/bootstrap/issues/3601
*/
.page_actions.collapse.in,
.page_info.collapse.in {
    overflow: visible;
}



/* ========== Utility classes ========== */
/*
  Action forms are used to enable button-like controls for
  POST/PUT/DELETEs.
*/
.action-form {
    display: inline-block;
    margin-bottom: 0;  /* override the default bootstrap form styling */
}



/* ========== Frontpage ========== */
#getstarted a.btn:visited { color: #fff; }



/* ========== Overview ========== */

/*
  make "Add Dataset" label on user overview page align w/ form
  controls
*/
.form-inline h4.help-inline { margin-top: 0; margin-right: 5px; }


/* ========== Page / Dataset previews ========== */

#description, #preamble {
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: thin lightgray solid;
}

#postamble {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    border-top: thin lightgray solid;
}

#column_canvas { min-height: 8em; }

#canvas_cursor {
    border: thin #aaa solid;
    height: 1em;
    width: 0.5em;
    display: inline-block;
}

.widget-object { margin-right: 3px; margin-top: 3px; }
.widget-type-text { display: inline-block; }
.widget-type-data { display: inline-block; }
.widget-type-link { display: inline-block; }
.widget-type-newline { display: block; }
.widget-type-newline-icon { display: inline-block; }


.widget-formatting-bold { font-weight: bold; }
.widget-formatting-italic { font-style: italic; }

