body {
    background-color: #eee;
    padding: 5px;
}

header {
    padding: 0.5em 3em;
    background: #35D4A4;
    color: #006D4C;
    margin-bottom: 3px;
}
header a:visited { color: #006D4C; }
footer {
    padding: 5px;
    background: none repeat scroll 0% 0% rgb(104, 154, 211);
    color: rgb(4, 53, 108);
    border-color: rgb(13, 86, 166);
}
footer p {
    padding: 2px;
}

#middle {
    margin: 0 0 3px 0;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #fff;
}

/* for frontpage */
#getstarted a.btn:visited { color: #fff; }


/*
  Action forms are used to enable button-like controls for
  POST/PUT/DELETEs.
*/
.action-form {
    display: inline-block;
    margin-bottom: 0;  /* override the default bootstrap form styling */
}

/* for template edit page */

/* We make heavy use of appended buttons on the page column edit
  pages.  Unfortunately, we also add dropdown-menus at the end, which
  cause the buttons not to get their nice rounded corners. The
  bootstrap rounded-corner rule uses the :last-child selector. So I
  copied over that rule and made it apply to dropdown-toggles as well */
.input-append .dropdown-toggle {
  -webkit-border-radius: 0 3px 3px 0;
     -moz-border-radius: 0 3px 3px 0;
          border-radius: 0 3px 3px 0;
}


#canvas_cursor {
    border: thin #aaa solid;
    height: 1em;
    width: 0.5em;
    display: inline-block;
}

.widget-object { margin-right: 3px; margin-top: 3px; }
.widget-type-text { display: inline-block; }
.widget-type-data { display: inline-block; }
.widget-type-link { display: inline-block; }
.widget-type-newline { display: block; }
.widget-type-newline-icon { display: inline-block; }


.widget-formatting-bold { font-weight: bold; }
.widget-formatting-italic { font-style: italic; }

.column_container { display: inline-block; border: thin black solid; text-align: center; padding: 4px; }
.column_container div input { display: block; }


/* for DataTables */
div.dataTables_length label {
	float: left;
	text-align: left;
}

div.dataTables_length select {
	width: 75px;
}

div.dataTables_filter label {
	float: right;
}

div.dataTables_info {
	padding-top: 8px;
}

div.dataTables_paginate {
	float: right;
	margin: 0;
}

table.table {
	clear: both;
	margin-bottom: 6px !important;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
}

table.table thead .sorting { background: url('../images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../images/sort_desc_disabled.png') no-repeat center right; }

table.dataTable th:active {
	outline: none;
}

#link_widget_url_source select.link_site { display: none;  }
#link_widget_url_source select.link_site.link_site_active  { display: block; }
