<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Edit Page | Judoon</title>
    <meta name="description" content="[% description %]">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/static/css/site.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <link rel="stylesheet" href="/static/css/dataTables.bootstrap.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.8.1.min.js"><\/script>')</script>
    <script src="/static/js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <script src="/static/js/vendor/angular/angular.js"></script>
    <script src="/static/js/vendor/angular/angular-sanitize.js"></script>

    <script src="/static/js/vendor/ckeditor/ckeditor.js"></script>

    <script src="/static/js/app/app.js"></script>
    <script src="/static/js/app/controllers.js"></script>
  </head>

  <body>
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
    
    <div id="top" class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="brand" href="[% c.uri_for_action('/index') %]">Judoon</a>

          <ul class="nav pull-left">
            <li>
              <form class="navbar-search" action="/search" method="get">
                <input type="text" name="q" placeholder="Search" class="search-query">
              </form>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="[% c.uri_for_action('/dataset/list') %]">Public Datasets</a></li>
                <li><a href="[% c.uri_for_action('/page/list') %]">Public Pages</a></li>
                <li class="divider"></li>
                <li><a href="[% c.uri_for_action('/info/get_started') %]">Get Started</a></li>
                <li><a href="[% c.uri_for_action('/info/news') %]">News</a></li>
                <li><a href="[% c.uri_for_action('/info/about') %]">About</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav pull-right">
            [% IF !c.user_exists %]
            <li><a href="[% c.uri_for_action('/login/login') %]">Login</a></li>
            <li><a href="[% c.uri_for_action('/account/signup') %]">Signup</a></li>
            [% ELSE %][% user_this = user.object || c.user %]
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-user"></i> [%- user_this.username -%] <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><a href="[% c.uri_for_action('/user/edit', [user_this.username]) %]">Overview</a></li>
                <li><a href="[% c.uri_for_action('/account/profile') %]">Profile</a></li>
                <li><a href="[% c.uri_for_action('/account/settings_view') %]">Settings</a></li>
              </ul>
            </li>
            <li><a href="[% c.uri_for_action('/login/logout') %]">Logout</a></li>
            [% END %]
          </ul>

        </div>
      </div>
    </div> <!-- end navbar -->

    <div id="middle" class="container-fluid" ng-cloak ng-app="judoon">
      <div class="row-fluid">
        <div class="span10 offset1" id="content" ng-controller="PageCtrl">

          <div class="navbar">
            <div class="navbar-inner">
              <ul class="nav">
                <li ng-class="{active: !editmode}"><a ng-click="editmode = 0" id="preview_mode" href="#">Preview</a></li>
                <li ng-class="{active:  editmode}"><a ng-click="editmode = 1" id="edit_mode" href="#">Edit</a></li>

                <li class="divider-vertical"></li>
                <li><a href="#">New from existing</a></li>
                <li class="divider-vertical"></li>

                <li><a href="#">Update Source Data</a></li>

                <li class="divider-vertical"></li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Download <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">As data</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Excel (.xls)</a></li>
                        <li><a href="#">Excel (.xlsx)</a></li>
                        <li><a href="#">CSV (.csv)</a></li>
                        <li><a href="#">Tab-separated (.tab)</a></li>
                      </ul>
                    </li>

                    <li class="dropdown-submenu">
                      <a tabindex="-1" href="#">As app</a>
                      <ul class="dropdown-menu">
                        <li><a href="#">zip</a></li>
                        <li><a href="#">tar.gz</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="">Share</a></li>
              </ul>
            </div>
          </div>

          [% IF welcome_message %]
          [% welcome_spiel = BLOCK %]
          <p>
            <strong>Your dataset has been imported.</strong> Here is the page
            we've created for you.  Click <strong>Edit</strong> above to make
            changes, or <strong>Share</strong> to make the page public.
          </p>
          [% END %]
          [%- INCLUDE 'components/notification.tt2' alert.success=welcome_spiel -%]
          [% END %]

          <input type="hidden" ng-model="pageId" value="[% page.object.id %]">

          <div ng-show="editmode" class="editable_label" style="margin-bottom: -10px;">Page Title:</div>
          <h2 judoon-ck ck-edit-type="inline" ng-class="{edit_outline: editmode}" ng-model="page.title" id="page_title" contenteditable="true" class="editable inline_editable" ng-bind-html="page.title"></h2>

          <div ng-show="editmode" class="editable_label">Preamble:</div>
          <div judoon-ck ck-edit-type="block" ng-class="{edit_outline: editmode}" id="page_preamble" ng-model="page.preamble" contenteditable="true" class="editable block_editable" ng-bind-html="page.preamble"></div>
          <br>

          <table judoon-table="" id="data_table" class="table table-striped table-condensed table-bordered">
            <thead>
              <th ng-repeat="column in page.columns">{{ column.title }}</th>
            </thead>
            <tbody>
            </tbody>
          </table>

          <br>

          <div ng-show="editmode" class="editable_label">Postamble:</div>
          <div judoon-ck ck-edit-type="block" ng-class="{edit_outline: editmode}" ng-model="page.postamble" id="page_postamble" contenteditable="true" class="editable block_editable" ng-bind-html="page.postamble"></div>

        </div>
      </div>
    </div>

    <div id="footer-wrapper">
      <div id="footer" class="container">
        <p class="pull-right">&copy; 2013 Cell Migration Consortium</p>
        <p class="pull-left">Have questions? Need help?  <a href="mailto:help@cellmigration.org">E-mail us</a>.</p>
      </div>
    </div>

      <script src="/static/js/vendor/bootstrap.min.js"></script>

      <script src="/static/js/plugins.js"></script>

      [% FOREACH p_column IN page_column.list %]
      <script id="column_tmpl_[% loop.count %]" class="column_tmpl" type="text/x-handlebars-template">
        [% p_column.js_template %]
      </script>
      [% END %]

      <script id="edit_console_tmpl" type="text/x-handlebars-template">
        <tbody id="column_edit_console">
          <tr class="odd" style="background-color: #fff;">
            <td colspan="[% page_column.list.size %]">
              <div class="well"><p>Close your eyes and pretend I'm a column editor.</p></div>
              <div class="pull-right"><a class="btn btn-mini" onclick="close_column_editor(); return false;"><i class="icon-remove"></i></a></div>
            </td>
          </tr>
        </tbody>
      </script>

      <script src="/static/js/vendor/jquery.dataTables.js"></script>
      <script src="/static/js/vendor/dataTables.bootstrap.js"></script>
      <script src="/static/js/vendor/datatables/ColReorder.min.js"></script>
      <script src="/static/js/vendor/handlebars.min.js"></script>
      <script src="/static/js/judoon.js"></script>

      <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
  </body>
</html>
