<form style="display: inline-block;" name="[%- form_name -%]" action="[%- url -%]" method="post" enctype="multipart/form-data" class="form-inline">
  <input type="hidden" name="x-tunneled-method" value="[% method %]">
  <button type="submit" class="btn btn-mini">[%- label -%]</button>
</form>

