[%- WRAPPER components/wrapper.tt2
  title = user.object.name
-%]

[%- INCLUDE 'components/notification.tt2' -%]
[%- INCLUDE 'components/identification.tt2' -%]

<section>
  <h3>What would you like to update?</h3>
  <ul class="nav nav-pills nav-stacked"> 
    <li><a href="[% c.uri_for_action('/account/profile') %]">Profile</a></li>
    <li><a href="[% c.uri_for_action('/account/password') %]">Password</a></li>
  </ul>
<section>


[% END %]
