[% WRAPPER inc/wrapper.tt2
  title = user.object.name
%]

<h3>Welcome, [% user.object.name || user.object.username %]!</h3>

[% INCLUDE 'components/notification.tt2' %]

<div class="well">
  <h6>Placeholder Page</h6>
  <p>You <strong>[% user.is_owner ? 'are' : 'are not' %]</strong> the owner of this page.</p>
</div>

[% END %]
