<h2>[% page.object.title %]</h2>

<section id="preamble">
[% page.object.preamble | html_para %]
</section>

<table id="demo_page" class="display data_table table table-striped table-condensed table-border">
  <thead>
    [% FOREACH p_column IN page_column.list %]
    <th>[% p_column.title %]</th>
    [% END %]
  </thead>
  <tbody>
  </tbody>
</table>

<section id="postamble">
[% page.object.postamble | html_para %]
</section>
