[% WRAPPER inc/wrapper.tt2
  title = 'Login'
%]


<h2>Welcome to Judoon, please log in.</h2>

<div class="error">[% error_msg %]</div>

<form id="login_form" method="post" class="form-inline" >
  <input type="text" name="username" id="username" class="input-small" placeholder="Username" tabindex="1" />
  <input type="password" name="password" id="password" class="input-small" placeholder="Password" tabindex="2" />
  <button type="submit" class="btn">Submit</button>
</form>


[% END %]
