<div ng-controller="DatasetColumnCtrl">

  <style type="text/css">
    #layout2 h5 { margin-bottom: 0px; }
  </style>

  <form id="layout2" ng-submit="submitNewColumn()">
    <fieldset>

      <div class="control-group">
        <div class="controls">

          <div class="row-fluid">
            <div class="span3">
              <h5>This dataset</h5>
              <small class="help-block">How do we identify the corresponing data?</small>
            </div>
            <div class="span3">
              <h5>Outside dataset</h5>
              <small>From where should the new data come?</small>
            </div>
            <div class="span3">
              <h5>Output</h5>
              <small>What data should we copy?</small>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span3">
              <span class="help-block">Dataset name</span>
              <span class="uneditable-input">{{dataset.name}}</span>
            </div>
            <div class="span3">
              <span class="help-block">Which dataset?</span>
              <select ng-model="lookupSource2" ng-options="source.name group by source.group for source in lookupTypesFlat"></select>
            </div>
          </div>

          <hr>

          <div class="row-fluid">
            <div class="span3">
              <span class="help-block">This column in {{$parent.dataset.name}}</span>
              <select ng-model="thisColumn" ng-options="column.name for column in $parent.dataset.columns"></select>
            </div>
            <div class="span3">
              <span class="help-block">...should equal this column in {{lookupSource2.name}}</span>
              <select ng-model="thatColumn" ng-options="column.name for column in lookupSource2.inputColumns"></select>
            </div>
            <div class="span3">
              <span class="help-block">Take data from this column in {{lookupSource2.name}}</span>
              <select ng-model="outputColumn" ng-options="column.name for column in lookupSource2.outputColumns"></select>
            </div>
            <div class="span3">
              <span class="help-block">...and put it into a new column named:</span>
              <input type="text" ng-model="newColumnName" required placeholder="New column name">
            </div>
          </div>

        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Add column</button>
      </div>

    </fieldset>
  </form>
</div>
