<div class="add-panel" ng-controller="DatasetColumnCtrl">
  <form ng-submit="submitNewColumn()" class="form-horizontal">
    <fieldset>

      <div class="control-group">
        <label class="control-label add-panel-banner">New computed column:</label>
        <div class="controls">
          <input type="text" ng-model="newColumnName" required placeholder="New column name">
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <div class="row-fluid">

            <div class="span3">
              <h5>Transform</h5>

              <div>
                <h6>Transform Type:</h6>
                <select name="type" ng-model="transformType" ng-options="type.name for type in transformTypes">
                </select>
              </div>

              <div ng-show="transformType">
                <h6>Transform:</h6>
                <select name="transform" ng-model="transform" ng-options="act.name for act in transformType.transforms">
                </select>
              </div>
            </div>

            <div class="span1"></div>

            <div class="span3">
              <h5>Source</h5>

              <div ng-show="transform">
                <h6>Source Column:</h6>
                <select name="source" ng-model="sourceColumn" ng-options="column.name for column in filteredColumns">
                </select>

                <div ng-switch on="transform.id">
                  <div ng-switch-when="join">
                    <h6>Join Dataset:</h6>
                    <select name="jds" ng-model="$parent.joinDataset" ng-options="ds.name for ds in myDatasets"></select>

                    <div ng-show="$parent.joinDataset">
                      <h6>Join Column:</h6>
                      <select name="jcol" ng-model="$parent.joinColumn" ng-options="jcol.name for jcol in joinDataset.columns"></select>
                    </div>
                  </div>

                  <div ng-switch-default>
                    <div ng-show="sourceColumn && transform.inputs">
                      <h6>Source Type:</h6>
                      <select name="input" ng-model="$parent.inputType" ng-options="input for input in transform.inputs">
                      </select>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="span1"></div>

            <div class="span3">
              <h5>Output</h5>

              <div ng-switch on="transform.id">

                <div ng-switch-when="join">
                  <div ng-show="$parent.joinColumn">
                    <h6>Output Column:</h6>
                    <select name="ocol"  ng-model="$parent.outputColumn" ng-options="ocol.name for ocol in joinDataset.columns"></select>
                  </div>
                </div>
                <div ng-switch-default>
                  <div ng-show="sourceColumn && transform.outputs">
                    <h6>Produce:</h6>
                    <select name="produce" ng-model="$parent.outputType" ng-options="output for output in transform.outputs">
                    </select>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Add column</button>
      </div>

    </fieldset>
  </form>
</div>
