<div ng-controller="DatasetColumnCtrl">

  <form id="computed_columns" ng-submit="submitNewColumn()">
    <fieldset>

      <div class="control-group">
        <div class="controls">

          <div class="row-fluid">
            <div class="span3">
              <h5>This dataset</h5>
              <small class="help-block">How do we identify the corresponing data?</small>
            </div>
            <div class="span3">
              <h5>Outside dataset</h5>
              <small>From where should the new data come?</small>
            </div>
            <div class="span3">
              <h5>Output</h5>
              <small>What data should we copy?</small>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span3">
              <span class="help-block">Dataset name</span>
              <span class="uneditable-input">{{dataset.name}}</span>
            </div>
            <div class="span3">
              <span class="help-block">Which dataset?</span>
              <select ng-model="currentLookup" ng-options="source.name group by source.group_label for source in lookups"></select>
            </div>
          </div>

          <hr>

          <div class="row-fluid">
            <div class="span3">
              <span class="help-block">This column in {{$parent.dataset.name}}</span>
            </div>
            <div class="span3">
              <span class="help-block">...should equal this column in {{currentLookup.name}}</span>
            </div>
            <div class="span3">
              <span class="help-block">Take data from this column in {{currentLookup.name}}</span>
            </div>
            <div class="span3">
              <span class="help-block">...and put it into a new column named:</span>
            </div>
          </div>

          <div class="row-fluid">
            <div class="span3">
              <select ng-model="thisJoinColumn" ng-options="column.name for column in $parent.dataset.columns"></select>
            </div>
            <div class="span3">
              <select ng-model="thatJoinColumn" ng-options="column.label for column in currentLookup.inputColumns"></select>
            </div>
            <div class="span3">
              <select ng-model="thatSelectColumn" ng-options="column.label for column in thatJoinColumn.outputColumns"></select>
            </div>
            <div class="span3">
              <input type="text" ng-model="newColumnName" required placeholder="New column name">
            </div>
          </div>

          <div class="row-fluid">
            <div class="span3"></div>
            <div class="span3">
              <label class="checkbox"><input type="checkbox" ng-model="restrictByType"> Restrict by type</label>
            </div>
          </div>

        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Add column</button>
      </div>

    </fieldset>
  </form>
</div>
