<div ng-controller="PageCtrl">


  <ul class="breadcrumb">
    <li><a href="/user/{{userName}}" target="_self">Overview</a> <span class="divider">/</span></li>
    <li><a href="/user/{{userName}}/datasource/{{page.dataset_id}}" target="_self">Dataset: {{dataset.name}}</a> <span class="divider">/</span></li>
    <li>Page: {{page.title}}</li>
  </ul>


  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li ng-class="{active: !editmode}"><a ng-click="editmode = 0" id="preview_mode" href="#">Preview</a></li>
        <li ng-class="{active:  editmode}"><a ng-click="editmode = 1" id="edit_mode" href="#">Edit</a></li>
        <li><a ng-class="{'save-disabled': !pageDirty, 'save-ready': pageDirty}" ng-click="updatePage()" href="#">Save</a></li>
      </ul>
    </div>
  </div>

  <div ng-show="editmode" class="editable_label" style="margin-bottom: -10px;">Page Title:</div>
  <h2 judoon-ckeditor ck-edit-type="inline" ng-class="{edit_outline: editmode}" ng-model="page.title" id="page_title" contenteditable="true" class="editable inline_editable"></h2>

  <div ng-show="editmode" class="editable_label">Preamble:</div>
  <div judoon-ckeditor ck-edit-type="block" ng-class="{edit_outline: editmode}" id="page_preamble" ng-model="page.preamble" contenteditable="true" class="editable block_editable"></div>
  <br>

  <div ng-show="editmode" class="table_edit_ctrls well well-small">

    <div class="row-fluid">
      <div class="span3">
        <form ng-submit="addColumn()" class="column_list">
          <h6>Add a new column</h6>
          <div class="input-append">
            <input type="text" placeholder="Column name" required  ng-model="newColumnName">
            <button type="submit" class="btn">Add</button>
          </div>
        </form>
      </div>

      <div class="span1"></div>

      <div class="span3">
        <form class="column_list">
          <h6>Update an existing column</h6>
          <div class="input-append">
            <select ng-model="currentColumn" ng-options="c.title for c in pageColumns">
              <option value=""></option>
            </select>
          </div>
        </form>
      </div>

      <div class="span1"></div>

      <div class="span3">
        <form class="column_list">
          <h6 class="text-warning">Delete a column</h6>
          <div class="input-append">
            <select ng-model="deleteColumn" ng-options="c.title for c in pageColumns">
              <option value=""></option>
            </select>
            <button type="submit" ng-click="removeColumn()" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>

    <hr>

    <form ng-show="currentColumn" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="page.title">Title: </label>
        <div class="controls">
          <input type="text" class="span6" required name="page.title" id="page.title" ng-model="currentColumn.title">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="page.layout">Layout: </label>
        <div class="controls" ng-controller="PageColumnTemplateCtrl">
          <judoon-template-builder>
          <input type="text" class="span6" name="page.layout" id="page.layout" ng-model="currentColumn.template">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Column Positioning: </label>
        <div class="controls">
          <a href="#" ng-click="columnLeft()"  ng-class="{disabled: firstColumn()}" class="btn"><i class="icon-arrow-left"></i> Move Left</a>
          <a href="#" ng-click="columnRight()" ng-class="{disabled: lastColumn()}" class="btn">Move Right <i class="icon-arrow-right"></i></a>
        </div>
      </div>
    </form>
    <p ng-show="!currentColumn" class="text-center muted">No column selected.</p>
  </div>

    <judoon-data-table
       jdt-dataset-id="page.dataset_id"
       jdt-columns="pageColumns"
       jdt-header-key="title"
       jdt-fetch-fn="getServerData">
    </judoon-data-table>

  <br>

  <div ng-show="editmode" class="editable_label">Postamble:</div>
  <div judoon-ckeditor ck-edit-type="block" ng-class="{edit_outline: editmode}" ng-model="page.postamble" id="page_postamble" contenteditable="true" class="editable block_editable"></div>

</div>
