<div>

  <ul class="breadcrumb">
    <li><a ng-href="/user/{{user.username}}#dataset{{page.dataset_id}}" target="_self">Overview</a> <span class="divider">/</span></li>
    <li><a ng-href="/user/{{user.username}}/dataset/{{page.dataset_id}}#view">Dataset: {{dataset.name}}</a> <span class="divider">/</span></li>
    <li>View: <span ng-bind-html="page.title"></span></li>
  </ul>


  <ul class="nav nav-tabs">
    <li ng-class="{active: !editmode}"><a ng-click="editmode = 0" id="preview_mode" href="#">Preview</a></li>
    <li ng-class="{active:  editmode}"><a ng-click="editmode = 1" id="edit_mode" href="#">Edit</a></li>
  </ul>

  <alert ng-repeat="alert in alerter.alerts" type="alert.type" close="alerter.closeAlert($index)"><span ng-bind-html="alert.msg"></span></alert>

  <p ng-show="!editmode" class="muted">This view is <strong>{{page.permission}}</strong>.</p>
  <div id="page_actions" ng-show="editmode">
    <div class="row-fluid">
      <div class="span2">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" ng-model="page.permission" btn-radio="'public'">Public</button>
          <button type="button" class="btn btn-primary" ng-model="page.permission" btn-radio="'private'">Private</button>
        </div>
      </div>
      <div class="span2 offset8">
        <div class="btn-group affix">
          <button class="btn btn-success" ng-disabled="!pageDirty" ng-click="updatePage()">Save</button>
        </div>
      </div>
    </div>
  </div>


  <div ng-show="!editmode">
    <h2  ng-bind-html="trustTitle()")></h2>
    <div ng-bind-html="trustPreamble()"></div>
  </div>

  <div ng-show="editmode">
    <div class="editable_label" style="margin-bottom: -10px;">View Title:</div>
    <h2 ui-tinymce-inline="tinymce.config.inline" ng-model="page.title" id="page_title" class="edit_outline editable inline_editable"></h2>

    <div class="editable_label">Preamble:</div>
    <div ui-tinymce-inline="tinymce.config.block" ng-model="page.preamble" id="page_preamble" class="edit_outline editable block_editable"></div>
    <br>
  </div>

  <div ng-show="editmode" class="table_edit_ctrls well well-small">

    <div class="row-fluid">
      <div class="span3">
        <form ng-submit="addColumn()" class="column_list">
          <h6>Add a new view column</h6>
          <div class="input-append">
            <input type="text" placeholder="View column name" required ng-model="newColumnName">
            <button type="submit" class="btn">Add</button>
          </div>
        </form>
      </div>

      <div class="span1"></div>

      <div class="span3">
        <form class="column_list">
          <h6>Update an existing view column</h6>
          <div class="input-append">
            <select ng-model="currentColumn" ng-options="scrubHtml(c.title) for c in page.columns">
              <option value=""></option>
            </select>
          </div>
        </form>
      </div>

      <div class="span1"></div>

      <div class="span3">
        <form class="column_list">
          <h6 class="text-warning">Delete a view column</h6>
          <div class="input-append">
            <select ng-model="deleteColumn" ng-options="scrubHtml(c.title) for c in page.columns">
              <option value=""></option>
            </select>
            <button type="submit" ng-click="removeColumn()" class="btn btn-danger">Delete</button>
          </div>
        </form>
      </div>
    </div>

    <hr>

    <form ng-show="currentColumn" class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="page.title">Title: </label>
        <div class="controls">
          <input type="text" class="span6" required name="page.title" id="page.title" ng-model="currentColumn.title">
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="page.layout">Layout: </label>

        <div class="controls" ng-controller="PageColumnTemplateCtrl">
          <div id="column_canvas" class="well well-small">
            <ul class="template_widget_list">
              <li class="list-top" ng-class="{cursor: !cursorWidget}" id="widget_list_top"><div></div></li>
              <li ng-class="{boldit: isBold(widget), italicit: isItalic(widget), cursor: cursorWidget==widget, newline: widget.type=='newline'}" ng-repeat="widget in currentColumn.widgets">
                <judoon-widget-factory widget="widget">
              </li>
            </ul>
          </div>

          <div id="actions" class="row-fluid">
            <div class="span4">
              <h6>Add Elements <small> - <a ng-click="openElementGuide()">What is this?</a></small></h6>
              <div class="btn-group">
                <a class="btn" ng-click="addTextNode()">Text</a>
                <a class="btn" ng-click="addDataNode()">Data</a>
                <a class="btn" ng-click="addLinkNode()">Link</a>
                <a class="btn" ng-click="addImageNode()">Image</a>
                <a class="btn" ng-click="addNewlineNode()">Newline</a>
              </div>
            </div>

            <div class="span3">
              <h6>Move Cursor</h6>
              <div class="btn-group">
                <a class="btn" ng-click="cursorBack()"><i class="icon-arrow-left"></i> Back</a>
                <a class="btn" ng-click="cursorForward()"><i class="icon-arrow-right"></i> Forward</a>
              </div>
            </div>

            <div class="span2">
              <h6>Actions</h6>
              <div class="btn-group">
                <a class="btn" ng-click="removeNodeAtCursor()"><i class="icon-remove"></i> Delete</a>
              </div>
            </div>

            <div class="span3">
              <h6>&nbsp;</h6>
            </div>
          </div>

          <script type="text/ng-template" id="elementGuide.html">
            <div>
              <div class="modal-header">
                <h3>How this works.</h3>
              </div>
              <div class="modal-body">
                <p>
                  These buttons add elements to the canvas that let you control
                  how your data is displayed.
                </p>
                <h5>Element Guide</h5>
                <img src="/static/images/pagecolumn_components_labeled.png">
              </div>
              <div class="modal-footer">
                <button class="btn" ng-click="closeElementGuide()">Close</button>
              </div>
            </div>
          </script>

        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Column Positioning: </label>
        <div class="controls">
          <a href="#" ng-click="columnLeft()"  ng-class="{disabled: firstColumn()}" class="btn"><i class="icon-arrow-left"></i> Move Left</a>
          <a href="#" ng-click="columnRight()" ng-class="{disabled: lastColumn()}" class="btn">Move Right <i class="icon-arrow-right"></i></a>
        </div>
      </div>
    </form>

    <p ng-show="!currentColumn" class="text-center muted">No view column selected.</p>
  </div>

  <div ng-class="{editmode: editmode}">

    <judoon-data-table
       jdt-col-defs="columnDefs" jdt-data-url="dataUrl"
       jdt-edit-col="currentColumn" jdt-delete-col="deleteColumn">
    </judoon-data-table>

  </div>

  <br>


  <div ng-show="!editmode">
    <div ng-bind-html="trustPostamble()"></div>
  </div>
  <div ng-show="editmode">
    <div class="editable_label">Postamble:</div>
    <div ui-tinymce-inline="tinymce.config.block" ng-model="page.postamble" id="page_postamble" class="edit_outline editable block_editable"></div>
  </div>

</div>
