        <div id="column_canvas" class="well well-small"  style="margin-bottom: 0;">
          <ul id="template_widget_list">
            <li id="widget_list_top"></li>
            <li ng-repeat="widget in currentColumn.widgets">
              <judoon-widget-factory widget="widget">
            </li>
          </ul>
        </div>

        <div id="actions" class="row-fluid">
          <div class="span4">
            <h6>Add Elements <small> - <a href="#element_guide" data-toggle="modal">What is this?</a></small></h6>
            <div class="btn-group">
              <a class="btn" id="btn_add_text">Text</a>
              <a class="btn" id="btn_add_data">Data</a>
              <a class="btn" id="btn_add_link">Link</a>
              <a class="btn" id="btn_add_newline">Newline</a>
            </div>
          </div>

          <div class="span4">
            <h6>Move Cursor</h6>
            <div class="btn-group">
              <a class="btn" id="btn_cursor_up"><i class="icon-arrow-up"></i> Up</a>
              <a class="btn" id="btn_cursor_down"><i class="icon-arrow-down"></i> Down</a>
              <a class="btn" id="btn_cursor_left"><i class="icon-arrow-left"></i> Left</a>
              <a class="btn" id="btn_cursor_right"><i class="icon-arrow-right"></i> Right</a>
            </div>
          </div>

          <div class="span2">
            <h6>Actions</h6>
            <div class="btn-group">
              <a class="btn" id="btn_backspace"><i class="icon-remove"></i> Delete</a>
            </div>
          </div>

          <div class="span2">
            <h6>&nbsp;</h6>
          </div>
        </div>
      </div>
    </div>
