<div>

  <ul class="breadcrumb">
    <li>Overview</li>
  </ul>

  <alert ng-repeat="alert in alerter.alerts" type="alert.type" close="alerter.closeAlert($index)">{{alert.msg}}</alert>

  <div class="row-fluid">
    <div class="span2">
      <p class="help-inline">
        <a ng-click="openHowTo()">What now?</a>
      </p>
    </div>
    <div class="span10">
      <div class="pull-right">
        <form name="add_dataset" id="add_dataset" action="/user/datasets" method="post" enctype="multipart/form-data" class="form-inline">
          <h4 class="help-inline">Add dataset:</h4>

          <judoon-file-input input-name="dataset.file">

          <a data-toggle="collapse" data-target="#dataset_upload_help">Help</a>
          <section id="dataset_upload_help" class="collapse">
            <h6>Accepted file types are:</h6>
            <dl>
              <dt>.xls</dt><dd>Excel 97</dd>
              <dt>.xlsx</dt><dd>Excel XML</dd>
              <dt>.csv</dt><dd><abbr title="comma-separated values">CSV</abbr></dd>
            </dl>
          </section>
        </form>
      </div>
    </div>
  </div>

  <!-- "What Now?" modal -->
  <script type="text/ng-template" id="whatnow.html">
    <div>
      <div class="modal-header">
        <h3>How this works.</h3>
      </div>
      <div class="modal-body">
        <p>New to Judoon?  Here are the steps to get started:</p>
        <ol>
          <li>
            <h5>Upload a spreadsheet</h5>
            <p>
              In the box labeled &quot;<strong>Add dataset</strong>&quot;
              click the <span class="text-info">Browse</span> button, select
              an Excel file for upload, then click <span class="text-info">Upload</span>.
            </p>
            <p>
              If all goes well, a new dataset named after your worksheet
              will appear in the list titled <strong>Datasets</strong>.
              You will also see a new entry in the <strong>Views</strong>
              list.  When you upload a spreadsheet, we automatically build
              a view that looks exactly like it.  If you're happy with the
              formatting, then you're done!.
            </p>
          </li>

          <li>
            <h5>Annotate your dataset</h5>
            <p>
              When you annotate your dataset, that tells us what kind of
              data is in each column of your spreadsheet.  It is not
              necessary to do this, but can help us to provide more
              intelligent sorting or even preconstructed links to external
              databases.  Click on the <span class="text-info">Annotate
                dataset</span> button to do this.
            </p>
          </li>

          <li>
            <h5>Build a custom view</h5>
            <p>
              You can create a new view here by clicking
              the <span class="text-info">Create a Custom View</span> button
              below the dataset's name.  This will take you your new
              View's overview, where you can set your new View's title,
              opening text, and afterword.
            </p>
            <p>
              Below that will be a section called <strong>View
                Columns</strong>, where you will see a list (initially empty)
              of all the columns in your view.  To add a new column, type
              a title into the <span class="text-info">Column Title</span>
              and click &quot;<span class="text-info">Add column</span>&quot;.
            </p>
          </li>
      </div>
      <div class="modal-footer">
        <button class="btn" ng-click="closeWhatNow()" aria-hidden="true">Close</button>
      </div>
    </div>
  </script>

  <div ng-show="user.datasets.length">
    <h2>Datasets</h2>
    <tabset direction="'left'">
      <tab ng-repeat="dataset in user.datasets" heading="{{dataset.name}}" active="dataset.tabActive" select="updateUrlFromTab()">
        <div ng-controller="UserDatasetCtrl" style="padding-left: 5px;">
          <h3>{{dataset.name}}</h3>


          <h4>Actions</h4>
          <div class="btn-toolbar action-buttons">
            <div class="btn-group">
              <a class="btn btn-mini"
                 ng-href="/users/{{user.username}}/datasets/{{dataset.id}}"
                 tooltip="Update the name, permissions, or other properties of this dataset."
                 tooltip-append-to-body="1">Edit Dataset</a>
            </div>
            <div class="btn-group">
              <a class="btn btn-mini"
                 ng-href="/users/{{user.username}}/datasets/{{dataset.id}}#columns"
                 tooltip="Mark columns as having a specific data type or role"
                 tooltip-append-to-body="1">Annotate Columns</a>
            </div>
            <div class="btn-group">
              <a class="btn btn-mini" ng-click="createPage()"
                 tooltip="Create a custom view of your dataset"
                 tooltip-append-to-body="1">Create A Custom View</a>
            </div>
            <div class="btn-group dropdown">
              <a class="btn btn-mini dropdown-toggle"
                 tooltip="Download data as an Excel file, csv, or tab-delimited file."
                 tooltip-append-to-body="1">
                Download as: <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a download="{{dataset.name}}.tsv"  target="_self" ng-href="{{dataset.url()}}.tsv">Tab-separated (.tsv)</a></li>
                <li><a download="{{dataset.name}}.csv"  target="_self" ng-href="{{dataset.url()}}.csv">Comma-separated (.csv)</a></li>
                <li><a download="{{dataset.name}}.xls"  target="_self" ng-href="{{dataset.url()}}.xls">Excel 97 (.xls)</a></li>
                <li><a download="{{dataset.name}}.xlsx" target="_self" ng-href="{{dataset.url()}}.xlsx">Excel 2007 (.xlsx)</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <a class="btn btn-mini btn-danger action_delete_dataset"
                 ng-click="deleteThisDataset()"
                 tooltip="Delete this dataset.  *This will delete all of its views as well!*"
                 tooltip-append-to-body="1">Delete Dataset</a>
            </div>
          </div>

          <h4>Views</h4>
          <div ng-include src="'/static/html/partials/dataset-pages.html'" onload="pages=dataset.pages"></div>

          <h4>About this dataset</h4>
          <ul>
            <li>{{dataset.nbr_columns}} columns, {{dataset.nbr_rows}} rows</li>
            <li><strong>Created on:</strong> {{dataset.created}}</li>
            <li><strong>Description:</strong> <span ng-show="dataset.description">{{dataset.description}}</span><span ng-show="!dataset.description">-</span></li>
            <li>This dataset is <strong>{{dataset.permission}}</strong>.</li>
            <li><strong>Columns:</strong> <span ng-repeat="ds_col in dataset.columns">{{ds_col.name}}, </span></li>
          </ul>

        </div>
      </tab>
    </tabset>
  </div>

  <p ng-show="!user.datasets.length">You haven't uploaded any datasets yet.</p>

</div>
