[% WRAPPER components/wrapper.tt2
  title = 'Oh dear | Judoon'
%]


<h2>Uh oh...</h2>

<p>
  Something went terribly wrong.  Our developers have been notified,
  please try again shortly.
</p>

<p>Lacking alternatives, why not try our <a href="[% uri_for_action('/index') %]">front page</a>?</p>

[% END %]
