[% WRAPPER inc/wrapper.tt2
  title = 'Oh dear | Judoon'
%]


<h2>Uh oh...</h2>

<p>Something went terribly wrong.</p>

<p>Does this help?:</p>

<pre>
  Ctx: [% c %]
  Error: [% error %]
</pre>

<p>Lacking alternatives, why not try our <a href="[% c.uri_for_action('/index') %]">front page</a>?</p>

[% END %]
