[% WRAPPER inc/wrapper.tt2
  title = 'Judoon'
%]


<h2>Welcome to Judoon</h2>

<p>
  Judoon helps you to turn organized scientific data into searchable,
  customizable, dynamic data tables.
</p>

<p><a href="[% c.uri_for('/user') %]">Get started</a></p>

[% END %]
