[% WRAPPER inc/wrapper.tt2
  title = 'Welcome'
%]

[% IF message %]
<div class="alert">
  <button class="close" data-dismiss="alert">×</button>
  <strong>Warning!</strong> [% message %]
</div>
[% END %]


<h2>Welcome to Judoon</h2>

<p>
  Judoon helps you to turn organized scientific data into searchable,
  customizable, dynamic data tables.
</p>

<p><a href="[% c.uri_for_action('user_addlist') %]">Get started</a></p>

[% END %]
