<html>
  <head>
    <title>[% title %]</title>
    <link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/site.css') %]" />
    <link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/gh-buttons.css') %]" />

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1");
    </script>    
  </head>
  <body>

    <div id="header">
      <h1>Judoon: Simplifying and automating the display of scientific data</h1>
    </div>

    <div id="middle">

      <div id="sidebar">
        <h4>Things to do:</h4>
        <ul>
          <li><a href="moo">One</a></li>
          <li><a href="moo">Two</a></li>
          <li><a href="moo">Three</a></li>
          [% IF c.user_exists %]<li><a href="[% c.uri_for_action('/login/logout') %]">Logout</a></li>[% END %]
        </ul>
      </div>

      <div id="content">
        [% content %]
      </div>

    </div>

    <div id="footer">
      <p>&copy; 2012 Cell Migration Consortium</p>
      <p>Have questions? Need help?  <a href="mailto:help@cellmigration.org">E-mail us</a>.</p>
    </div>

  </body>
</html>
