<html>
  <head>
    <title>[% title %] | Judoon</title>
    <link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/site.css') %]" />
    <link rel="stylesheet" type="text/css" href="[% c.uri_for('/static/css/gh-buttons.css') %]" />

<!--
    <style type="text/css" title="currentStyle">
      @import "/static/css/demo_page.css"; @import "/static/css/header.ccss";
      @import "/static/css/demo_table.css";
    </style>
-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("jquery", "1");
      google.load("jqueryui", "1");
    </script>    

    <script type="text/javascript" language="javascript" src="[% c.uri_for('/static/js/jquery.dataTables.js') %]"></script>
  </head>
  <body>

    <div id="header">
      <h1>Judoon: Simplifying and automating the display of scientific data</h1>
    </div>

    <div id="middle">

      <div id="sidebar">
        <h4>Things to do:</h4>
        <ul>
          [% IF user %]<li><a href="[% c.uri_for_action('user_view', [user.login]) %]">Your homepage</a></li>[% END %]
          <li><a href="[% c.uri_for_action('public_page_addlist') %]">View Public Pages</a></li>
          <li><a href="moo">Another Thing</a></li>
          <li><a href="moo">Something Else</a></li>
          [% IF c.user_exists %]<li><a href="[% c.uri_for_action('/login/logout') %]">Logout</a></li>[% END %]
        </ul>
      </div>

      <div id="content">
        [% content %]
      </div>

    </div>

    <div id="footer">
      <p>&copy; 2012 Cell Migration Consortium</p>
      <p>Have questions? Need help?  <a href="mailto:help@cellmigration.org">E-mail us</a>.</p>
    </div>

  </body>
</html>
